# create your local .env file from this template
VECTORSTORE_HOST=weaviate
VECTORSTORE_PORT=8000
#VECTORSTORE_USER=exampleuser
#VECTORSTORE_PASSWORD=examplepassword
#VECTORSTORE_TOKEN=exampletoken

# access key of an IAM user with S3 access. In the long run each app should have its own user.
AWS_ACCES_KEY_ID=examplekeyid
AWS_SECRET_ACCESS_KEY=examplesecretaccesskey
S3_BUCKET_DOCUMENTS=s3-bucket-name

OPENAI_APIKEY=youropenaiapikey